<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start" [routerLink] = "['/soli']" >
      <ion-icon name="chevron-back-outline" slot="start"></ion-icon>
      <ion-button>Detalles del Viaje</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-card id="carta">
        <img [src]='Viaje.imagen' />
        <ion-card-header>
          <ion-card-subtitle>{{Viaje.cantidadTotal}}</ion-card-subtitle>
          <ion-card-title>{{Viaje.nombre}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{Viaje.descripcion}}
        </ion-card-content>
      </ion-card>
      <p><ion-button color="primary" class ="ion-margin-vertical">Viajar</ion-button></p> Precio: ${{Viaje.precio}}
  </div>
</ion-content>


<app-footer></app-footer>