<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start" [routerLink] = "['/lobby']" >
      <ion-icon name="chevron-back-outline" slot="start"></ion-icon>
      <ion-button>Volver al inicio</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="container">
<ion-list *ngIf="Viajes">
    <ion-item *ngFor="let ai of Viajes">
        <ion-avatar slot="start">
            <img [src]='ai.imagen'>
        </ion-avatar>
        <ion-label>
            <h1>{{ai.nombre}}</h1>
            <h1>{{ai.precio}}</h1>
            <ion-button color="primary" [routerLink]="['/soli',ai.id]">Detalles</ion-button>
        </ion-label>
    </ion-item>
</ion-list>

</ion-content>

<app-footer></app-footer>