<ion-header>
  <ion-toolbar>
    <ion-title>prograv</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>  
    <ion-card-header>
      Soli traba
    </ion-card-header>

      <ion-list *ngIf = "lista">
        <ion-item *ngFor = "let aux of lista" (click)="detalleViaje(aux)">
          <ion-avatar>
            <img [src]= 'aux.imagen' >
          </ion-avatar>

          <ion-label>
            <h1> {{aux.apodo}} </h1>
          </ion-label>

        </ion-item>
      </ion-list>

  </ion-card>


</ion-content>

<ion-footer>

  <ion-header>
    <ion-toolbar color="tertiary">
      <ion-buttons slot="start">
        <ion-button [routerLink] = "['/lobby']" >Volver</ion-button>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

</ion-footer>